{% extends 'base.html.twig' %}

{% block title %}Esprit sceptique - Gestion des biais
{% endblock %}

{% block body %}
	{% if is_granted("IS_AUTHENTICATED_FULLY")%}
		<section>
			<div class="container">
				<div class="row">
					<div class="card mt-3 p-3 mb-3 shadow">
						<div class="card-body">
							<h2 class="mt-3 pb-3">Biais</h2>
							{{form_start(form)}}
							{{form_widget(form)}}
							<a href="/admin#bias" class="btn btn-danger">
								Retour</a>
							<button type="submit" class="btn btn-dark">Valider</button>
							{{form_end(form)}}
						</div>
					</div>
				</div>
			</section>
		{% endif %}
	{% endblock %}
