{% extends 'base.html.twig' %}

{% block title %}
	Esprit sceptique - Liste des biais cognitifs courants
{% endblock %}

{% block body %}

	<section>
		<div class="container">

			<div class="card mt-3 shadow mb-3">
				<div class="card-image-container">
					<img src="{{asset('images/brain.jpg')}}" class="card-image-top rounded" alt="image">
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Liste des biais cognitifs courants</h5>
					<p class="mb-2">
						<ul class="list-group shadow-sm">
							{% for category in biasCategories %}
								<h6 class="mt-3 mb-2 text-secondary">
									{{category.name}}</h6>
								{% for bias in category.bias %}
									<li class="list-group-item">
										<p class="card-text">
											<strong>{{bias.name}}</strong><br>
											{{bias.description}}
										</p>
									</li>
								{% endfor %}
							{% endfor %}
						</ul>
					</p>
				</div>
			</div>

		</div>
	</div>
</section>{% endblock %}
