{% extends 'base.html.twig' %}

{% block title %}Esprit sceptique -
	{{bias.name}}
{% endblock %}

{% block body %}
{% if is_granted("IS_AUTHENTICATED_FULLY")%}
	<section>
		<div class="container">
			<div class="card mt-3 shadow mb-3">
				<div class="card-image-container">
					<img src="{{asset('images/brain.jpg')}}" class="card-image-top rounded" alt="image">
				</div>
				<div class="card-body">
					<h5 class="card-title">
						{{bias.name}}</h5>
					<hr>
					<p class="card-text">
						<strong>Définition :</strong>
						{{bias.description | raw}}
					</p>
					<a href="/bias/list" class="btn btn-primary">Liste des biais</a>
				</div>
			</div>
		</div>
	</div>
</section>{% endif %}{% endblock %}
