{% extends 'base.html.twig' %}

{% block title %}Esprit sceptique - Accueil
{% endblock %}

{% block body %}
	<header class="d-flex flex-column justify-content-center align-items-center">
		<div class="logo">
			<img src="{{asset("images/logo-full.svg")}}" alt="logo full">
		</div>
	</header>
{% endblock %}
