{% extends 'base.html.twig' %}

{% block title %}Esprit sceptique - 
				Liste des chaînes Youtube
{% endblock %}

{% block body %}

	<section>
		<div class="container">
			{% if youtubeChannels|length == 0 %}
				<div class="card mt-3 shadow mb-3">
					<div class="card-body text-center">
						<p class="m-0">
							<i>Nous n'avons aucune chaîne YouTube actuellement.</i>
						</p>
					</div>
				</div>
			{% endif %}
			{% for youtubeChannel in youtubeChannels | reverse %}
				<a href="/youtube-channel/{{youtubeChannel.slug}}">
					<div class="card mt-3 shadow mb-3 filter-hover">
						<div class="card-image-container">
							<img src="{{asset('images/')}}{{youtubeChannel.image}}" class="card-image-top rounded" alt="image">
						</div>
						<div class="card-body">
							<h5 class="card-title text-dark">
								{{youtubeChannel.name}}</h5>
						</div>
					</div>
				</a>

			{% endfor %}
		</div>
	</section>

{% endblock %}
