{% extends 'base.html.twig' %}

{% block title %}Esprit sceptique - Liste des pratiques
{% endblock %}

{% block body %}

	<section>
		<div class="container">
			{% for technique in techniques | reverse %}
				<a href="/technique/{{technique.slug}}">
					<div class="card mt-3 shadow mb-3 filter-hover">
						<div class="card-image-container">
							<img src="{{asset('images/')}}{{technique.image}}" class="card-image-top rounded" alt="image">
						</div>
						<div class="card-body">
							<h5 class="card-title text-dark">
								{{technique.name}}</h5>
						</div>
					</div>
				</a>

			{% endfor %}
		</div>
	</section>

{% endblock %}
